<footer class="border-t border-line">

    <!-- Content area -->
    <nav class="row-wrap justify-between items-center gap-4 py-10">

        <!-- Start -->
        <div class="col items-start gap-2">

            <!-- Logo -->
            <x-logo class="text-sm text-content-subtle"></x-logo>

            <!-- Attribution -->
            <figcaption><span x-text="$x.content.footer.copyright">Copyright &copy; 2026</span> <span x-text="$x.manifest.author"></span>.</figcaption>

        </div>

        <!-- End -->
        <div class="row-wrap gap-6">
            <a href="/page-1" class="text-sm" x-text="$x.content.page1">Page 1</a>
            <a href="/page-2" class="text-sm" x-text="$x.content.page2">Page 2</a>
            <a href="/license" class="text-sm" x-text="$x.content.license">License</a>
            <a href="/privacy" class="text-sm" x-text="$x.content.privacy">Privacy</a>
            <a role="button" class="sm ghost outlined" href="https://manifestx.dev" target="_blank" x-text="$x.content.footer.madeWith">Made with Manifest</a>
        </div>

    </nav>
</footer>