<header class="border-b border-line">

    <!-- Content area -->
    <nav class="row justify-between items-center py-4">

        <!-- Logo (home link) -->
        <a href="/">
            <x-logo></x-logo>
        </a>

        <!-- Desktop -->
        <div class="hidden md:row items-center gap-6">
            <a href="/page-1" x-text="$x.content.page1"></a>
            <a href="/page-2" x-text="$x.content.page2"></a>

            <!-- Localization menu -->
            <button class="ghost" x-dropdown.bottom="locales-menu" aria-label="Locales" x-icon="lucide:languages"></button>
            <menu popover id="locales-menu" class="bottom-end">
                <li @click="$locale.set('en')" :disabled="$locale.current === 'en'">English</li>
                <li @click="$locale.set('es')" :disabled="$locale.current === 'es'">Español</li>
                <li @click="$locale.set('ar')" :disabled="$locale.current === 'ar'">العربية</li>
                <li @click="$locale.set('zh')" :disabled="$locale.current === 'zh'">中文</li>
            </menu>

            <!-- Color theme menu -->
            <button class="ghost" x-dropdown.bottom="color-theme" aria-label="Color Theme Menu" x-icon="$color.current === 'light' ? 'lucide:sun' : $color.current === 'dark' ? 'lucide:moon' : 'lucide:sun-moon'"></button>
            <menu popover id="color-theme" class="bottom-end min-w-0">
                <li x-color="'light'" :disabled="$color.current === 'light'" x-icon="lucide:sun" :aria-label="$x.content.theme.light"></li>
                <li x-color="'dark'" :disabled="$color.current === 'dark'" x-icon="lucide:moon" :aria-label="$x.content.theme.dark"></li>
                <li x-color="'system'" :disabled="$color.current === 'system'" x-icon="lucide:sun-moon" :aria-label="$x.content.theme.system"></li>
            </menu>

        </div>

        <!-- Open mobile sidebar -->
        <button class="ghost flex md:hidden" popovertarget="sidebar" x-icon="lucide:menu" aria-label="Navigation Menu"></button>

    </nav>

    <!-- Mobile sidebar -->
    <nav popover id="sidebar" class="col gap-4 p-4 shadow-2xl [&_a]:w-full [&_a]:justify-start">
        <a href="/page-1" class="w-full" x-text="$x.content.page1"></a>
        <a href="/page-2" class="w-full" x-text="$x.content.page2"></a>

        <div class="divider"></div>

        <div role="group" class="w-full even">
            <button x-color="'light'" :disabled="$color.current === 'light'" x-icon="lucide:sun" :aria-label="$x.content.theme.light"></button>
            <button x-color="'dark'" :disabled="$color.current === 'dark'" x-icon="lucide:moon" :aria-label="$x.content.theme.dark"></button>
            <button x-color="'system'" :disabled="$color.current === 'system'" x-icon="lucide:sun-moon" :aria-label="$x.content.theme.system"></button>
        </div>

        <div class="divider"></div>

        <div role="group" class="w-full even">
            <button @click="$locale.set('en')" :disabled="$locale.current === 'en'">English</button>
            <button @click="$locale.set('es')" :disabled="$locale.current === 'es'">Español</button>
            <button @click="$locale.set('ar')" :disabled="$locale.current === 'ar'">العربية</button>
            <button @click="$locale.set('zh')" :disabled="$locale.current === 'zh'">中文</button>
        </div>

    </nav>

</header>